* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Desktop design */
.main{
    background-color: hsl(233, 47%, 7%);
    color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 150px;

}

#content-container{
    background-color: hsl(244, 38%, 16%);
    width: 590px;
    height: 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 70px 90px 70px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#image-container{
    background-image: url(./images/image-header-desktop.jpg);
    width: 530px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;

}
#image-container div{
    width: 100%;
    height: 100%;
    background-color: hsla(277, 100%, 50%,0.4);
    
}

#stats-heading{
    font-size: 40px;
    font-family: Inter, sans-serif;
    font-weight: 700;
}

#content-description{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca, sans-serif;
    line-height: 1.7;
    word-spacing: 0.2rem;
    margin-bottom: 2rem;
}
#content-description p{
    padding-right: 40px;
}
#stats-numbers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

/* #stats-numbers div{
    margin-right: 2rem;
} */

.numbers-heading{
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.numbers-category{
    text-transform: uppercase;
    font-family: Lexend Deca, sans-serif;
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.75);
    letter-spacing: 1.5px;
}

/* mobile designing */

@media screen and (max-width:376px) {
    .main{
        flex-direction: column-reverse;
        padding: 70px 10px 70px 10px;
    }

    #content-container{
        width: 320px;
        padding: 30px 10px;
        height: auto;
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
    }
    #stats-heading{
        font-size: 30px;
        margin-bottom: 1rem;
    }
    #content-description p{
        padding: 0 20px;
    }
    #stats-numbers{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    #image-container{
        width: 320px;
        height: 200px;
        background-image: url(./images/image-header-mobile.jpg);
        border-radius: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

    }
    #stats-numbers{
        width: 100%;
        display: block;
    }
    #stats-numbers div{
       margin-bottom: 2rem;
    }

}